<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicmix">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TrackInfo" />
        <activity android:name=".TopArtistsActivity" />
        <activity android:name=".ArtistInfo" />
        <activity android:name=".Search.SearchActivity" />
        <activity android:name=".Search.SearchDisplay" />
        <activity android:name=".lyricsActivity" />

        <provider
            android:name=".data.TrackProvider"
            android:authorities="com.example.android.musicmix"
            android:exported="false" />

        <activity android:name=".Favourites.FavouritesActivity" />
        <activity android:name=".Favourites.FavouriteTracks"></activity>
        <activity android:name=".Favourites.FavouriteTrackInfo" />
        <activity android:name=".Favourites.FavouriteLyrics" />
        <activity android:name=".Favourites.FavouriteArtists" />
        <activity android:name=".Favourites.FavouriteArtistInfo" />
    </application>

</manifest>